.kt-page--loading2 * {
  -webkit-transition: none !important;
  transition: none !important;
}

.kt-page--loading2 .kt-page-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.thumbnail-photo {
  width: auto;
  height: 128px;
}

.pointer-cursor {
  cursor: pointer;
}

.text-black {
  color: #000000;
}

.cover-row {
  position: absolute;
  width: 96%;
  z-index: 2;
  opacity: 0.8;
  color: #000000;
  background-color: #cccccc;
  bottom: 0px;
  margin-left: 10px;
  left: 0px;
}

.la {
  cursor: pointer;
}

.nav-item, .nav {
  display: inline-table !important;
  color: #000000;
}