{% extends "base.html" %}
{% load util_tags %}
{% load bootstrap4 %}

{% block extra_css %}
<style>
body {
	background-color: #f7f9fb;
	font-size: 14px;
}
</style>
{% endblock extra_css %}

{% block content %}
  <div class="my-login-page row justify-content-md-center h-100">
    <div class="card-wrapper">
      <div class="card fat">
        <div class="card-body">
          <h4 class="card-title">Create New Account</h4>
          <form method="POST" class="my-login-validation">
            {% csrf_token %}
            <div class="form-group">
              <label>Email: <span class="badge badge-primary">{{ email }}</span></label>
            </div>
            {% for field in form %}
              {% bootstrap_field field %}
            {% endfor %}
            <div class="form-group">
              <div class="custom-checkbox custom-control">
                <input type="checkbox" name="agree" id="agree" class="custom-control-input" required="">
                <label for="agree" class="custom-control-label">I agree to the <a href="javascript:">Terms and Conditions</a></label>
              </div>
            </div>

            <div class="form-group m-0">
              <button type="submit" class="btn btn-primary btn-block" disabled>
                Register
              </button>
            </div>
            <div class="mt-4 text-center">
              Already have an account? <a href="{% url 'photo_gallery:login' %}">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {
    $("input[name=agree]").change(function () {
      $("button[type=submit]").prop('disabled', !this.checked);
    })
  });

</script>
{% endblock extra_js %}

