{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}WRH/Photos{% endblock %}</title>

  {% block main_css %}
    <link href="{% static 'dj/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dj/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'dj/css/base.css' %}" rel="stylesheet">
  {% endblock %}
  {% block extra_css %}
  {% endblock %}
</head>

<body class="d-flex flex-column h-100">
{% block container %}
  {% block header %}
    {% block header_navbar %}
      {% include "header.html" %}
    {% endblock header_navbar %}
    <div class="messages">
      {% if messages %}
        {% for message in messages %}
          {% if message.level < 100 %}
            <div class='alert alert-{{ message.tags }} alert-dismissible'>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endif %}

        {% endfor %}
      {% endif %}
    </div>

  {% endblock header %}

  {% block main-container %}
    <main role="main" class="flex-shrink-0 mar-top50">
      <div class="container">
        {% block breadcrumb %}
        {% endblock breadcrumb %}

        {% block content %}

        {% endblock content %}
      </div>
    </main>

  {% endblock main-container %}
  {% block footer %}
    <footer class="footer mt-auto py-3">
      <div class="container">
          <span class="text-muted">2019 © We-Race-Here. Developed by
            <a target="_blank" href="http://www.heteroskedastic.com/">
              Heteroskedastic
            </a>
          </span>
      </div>
    </footer>
  {% endblock footer %}
{% endblock container %}

{% block main_js %}
  <script src="{% static 'dj/js/jquery.js' %}"></script>
  <script src="{% static 'dj/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.dropdown-menu li.disabled a').click(function (e) {
        e.preventDefault();
      });
      setTimeout(function () {
        $(".messages .alert-success").fadeTo(5000, 500).slideUp(500, function () {
          $(".messages .alert-success").alert('close');
        });
      }, 2000);
    });
  </script>

{% endblock main_js %}
{% block extra_js %}
{% endblock extra_js %}

</body>
</html>
