{% load util_tags %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md fixed-top metronic-header">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'photo_gallery:index' %}"><i class="fas fa-camera"></i>
        WRH/Photos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="javascript:"><i class="fas fa-info-circle"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:"><i class="fas fa-question-circle"></i> Help</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
